[Desktop Entry]
Encoding=UTF-8
Name=KXNeur
Exec=kxneur
Type=Application
Icon=keyboard_layout.png
MiniIcon=keyboard_layout.png
DocPath=kkbswitch/index.html
Comment=KDE X Neural Keyboard Switcher
Comment[ru]=X Neural переключатель клавиатуры KDE
Comment[uk]=X Neural перемикач клавiатури KDE
Terminal=0
X-KDE-autostart-after=panel
X-KDE-autostart-condition=kxneurrc:General:AutoStart:false
X-KDE-autostart-phase=2
X-KDE-StartupNotify=false
Categories=Qt;KDE;Utility;TrayIcon;
